# Dynamic route configuration
# Routes can be reloaded at runtime via admin API

routes:
  - id: user-service
    uri: http://user-service:8081
    predicates:
      - Path=/api/users/**
    filters:
      - StripPrefix=1
    metadata:
      weight: 100
      canary: false

  - id: order-service
    uri: http://order-service:8082
    predicates:
      - Path=/api/orders/**
    filters:
      - StripPrefix=1
    metadata:
      weight: 100
      canary: false

  - id: payment-service
    uri: http://payment-service:8083
    predicates:
      - Path=/api/payments/**
    filters:
      - StripPrefix=1
    metadata:
      weight: 100
      canary: false

